
server:
  port: 8080
  servlet:
    context-path: /api

spring:
  profiles:
    active: dev
  application:
    name: exe-be
  main:
    banner-mode: off
  servlet:
    multipart:
      enabled: true
      max-file-size: 5MB
      max-request-size: 10MB
  datasource:
    url: jdbc:mysql://localhost:3306/exe_long_ga
    username: root
    password: 123456
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: create

app:
  auth:
    tokenSecret: 9efd5b8a68233d5cc2aefd659514d151031cd6d16cbcf1682604ec5fbbdf2d560b1dceaa57dab53fdfbc7b6349d7c4ed469327e7fa00e83adb219349b0237d98
    tokenExpirationMs: 1080000000000
